
:root{
  
  --macaroni: hsl(24, 95%, 74%);
  --macaroni-shadow: hsl(24, 100%, 84%);
  --steel-blue: hsl(205, 55%, 46%);
  --celadon: hsl(138, 54%, 78%);
  --winter-green : hsl(153, 14%, 45%);
  --orange-web : hsl(37, 98%, 53%);
  --aquamarine : hsl(154, 69%, 55%);

}

input:focus, select:focus{
  outline: none;
  border-left: solid 2px rgb(255, 0, 0);
}

.focus2:focus{
  outline: none;
  border-left: solid 2px var(--steel-blue);
}

input, select{
  
  
}

.new-trade-container{
  height: 500px;
}

@media (max-width: 800px) {
  .variables-cards-container{
    grid-template-columns: 1fr;
  }
}

.no-highlight{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th, td{
  min-width: 64px;
}

table  tr:nth-of-type(even){
  background-color: #DEE2D6;
}


.app{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.top-left-round{
  
  border-top-left-radius: 6px;
}

.bottom-right-round{
  
  border-bottom-right-radius: 6px;
}


.sidebar{
  position: relative;
  box-shadow: 6px 0 10px -4px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.setup-container{
  z-index: 0;
}

.current-setup-con{
  height: 546px;
}

.DialogOverlay {
  background-color: rgb(255, 211, 211);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 30;
}